:root{
  --primary-color: #81a73d; /* Primary color for the dashboard */
  --secondary-color: #4a6532; /* Secondary color for text */
  --background-color: #f9fcef; /* Background color for the dashboard */
  --box-shadow: 0 3px 8px rgba(129, 167, 61, 0.25); /* Box shadow for boxes */
  --border-color: #81a73d; /* Border color for boxes */
}

.suggestion-container {
  max-width: 75%;
  margin: 80px auto;
  padding: 2rem;
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}

.suggestion-container h1 {
    
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.suggestion-container p {
  color: var(--primary-color);
  margin-bottom: 2rem;
}

.subject-input{
  margin-bottom: 24px;
}

.suggestion-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.form-group textarea {
  padding: 0.8rem;
  border: 1px solid #ddd;
  color: var(--primary-color);
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  resize: vertical;
  min-height: 150px;
  width: 90%;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group textarea:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.error-message {
  color: #e74c3c;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.submit-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
}

.submit-button:hover {
  background-color: var(--secondary-color);
}

.thank-you-message {
  margin: 25px auto 28% auto;;
  max-width: 800px;
  
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.thank-you-message h2 {
  color: #27ae60;
  margin-bottom: 1rem;
}

.thank-you-message button {
  background-color: var(--primary-color);
  
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.thank-you-message button:hover {
  background-color: var(--secondary-color);
}

