.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  height: 60px;
  background: #80a73d !important;
  color: white;
  position: relative;
  width:100%;
  
}

.left-section,
.right-section {
  width: 150px; /* Match logo width for symmetry */
  display: flex;
  justify-content: flex-end;
}

.center-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.company-icon {
  width: 120px;
}